@model GStore.Models.ViewModels.PageSectionEditViewModel
@{
	AjaxOptions options = new AjaxOptions();
	options.AllowCache = false;
	options.HttpMethod = "Post";
	options.InsertionMode = InsertionMode.Replace;
	options.LoadingElementId = "LoadingElementId_" + Model.Index;
	options.OnBegin = "OnBegin_" + Model.Index;
	options.OnComplete = "OnComplete_" + Model.Index;
	options.OnFailure = "OnFailure_" + Model.Index;
	options.OnSuccess = "OnSuccess_" + Model.Index;
	options.UpdateTargetId = "PageSectionUpdateTargetId_" + Model.Index;
	options.LoadingElementDuration = 1000;
}
<script>
	function OnBegin_@(Model.Index)() {
		@*alert('OnBegin_@(Model.Index)');*@
	}

	function OnComplete_@(Model.Index)() {
		@*alert('OnComplete_@(Model.Index)');*@
	}
	function OnFailure_@(Model.Index)() {
		alert('Save Failed. Please try again or re-load the page and try again. Section: @(Model.SectionName) [@(Model.PageTemplateSectionId)] Index: @(Model.Index)');
	}
	function OnSuccess_@(Model.Index)() {
		@*alert('OnSuccess_@(Model.Index)');*@
	}
</script>
<div id="LoadingElementId_@(Model.Index)" style="background-color: green; display:none">
	<strong>Saving....</strong>
</div>
@using (Ajax.BeginForm("UpdateSectionAjax", "Page", options))
{
	<div id="PageSectionUpdateTargetId_@(Model.Index)">
		@Html.Partial("_SectionEditPartial", Model)
	</div>
}
