@model GStore.Models.PageTemplate
@using GStore.Data
@if (Model == null)
{
	@:(no Page Template)
}
else
{
	bool isActive = Model.IsActiveDirect();
	string className = isActive ? string.Empty : "text-warning";
	string viewLinkClass = isActive ? "text-success" : "text-warning";
	string inactiveText = isActive ? string.Empty : " [INACTIVE]";
	string linkText = "View " + (isActive ? string.Empty : "Inactive ") + "Page Template";

	<span class="@className">
		'@(Html.DisplayFor(model => model.Name))' [@(Html.DisplayFor(model => model.PageTemplateId))]
		@(inactiveText)
	</span>
	@:&nbsp;
	@(Html.ActionLink(linkText, "Details", "PageTemplateSysAdmin", new { id = Model.PageTemplateId }, new { @class = viewLinkClass }))
}
