@model GStore.Models.PageTemplate
@if (Model == null)
{
	@:(no page template)
}
else
{
	bool isActiveDirect = Model.IsActiveDirect();
	bool isActiveBubble = Model.IsActiveBubble();
	string className = isActiveBubble ? string.Empty : "text-warning";
	string viewLinkClass = isActiveBubble ? "text-success" : "text-warning";
	string inactiveText = isActiveBubble ? string.Empty : " [INACTIVE]";
	string linkText = "View " + (isActiveBubble ? string.Empty : "Inactive ") + "Page Template";

	<span class="@className" style="white-space:nowrap">
		@(Html.DisplayNameForModel()) '@(Model.Name)' [@(Model.PageTemplateId)]@(inactiveText)
	</span>
	@: &nbsp;@(Html.ActionLink(linkText, "Details", "PageTemplateSysAdmin", new { id = Model.PageTemplateId }, new { @class = viewLinkClass }))
	<br/>
	@(Html.DisplayFor(model => model.Client))
}

