@model GStoreData.Models.DeliveryInfoDigital

<div class="row">
	<div class="col-md-4 text-right-md text-right-lg">
		Digital Delivery to
	</div>
	<div class="col-md-4 text-left-md text-left-lg">
		@Html.DisplayFor(model => model.FullName) @Html.DisplayFor(model => model.EmailAddress)
	</div>
</div>
