@model GStoreData.Models.DeliveryInfoDigital

<table>
	<tr>
		<td valign="top" align="right">
			Digital Delivery to
		<td valign="top" align="left">
			'@(Html.DisplayFor(model => model.FullName))' &lt;@(Html.DisplayFor(model => model.EmailAddress))&gt;
		</td>
	</tr>
</table>
