@using GStore.AppHtmlHelpers
<div class="row" style="padding-top: 1em;">
	<div class="col-sm-6 col-lg-offset-1 col-lg-5">
		<h2>About GStore</h2>

		<p>GStore is an ongoing project to build functional programs for modern desktop and mobile platforms.</p>
		<p>
			Useful modern technology is built in and the system is developer-friendly so as your site expands, so do your capabilities.
			We use Microsoft standard design patterns like the Model-View-Controller (MVC) pattern and the repository pattern with Bootstrap and JQuery to access mobile, desktop, and tablet devices effectively.
		</p>
		<p>Everything you need to get your web site up and running is already here and ready to go. Long gone are the days of calling your "web site guy" to update your site or add new features.  Just log in and click a few links to find the information you need and make changes to your site.</p>
		<p>
			GStore is an ongoing project with daily updates. For up-to-date information or to find out more,<br />
			please visit the GStore home page at <br /><a target="_blank" href="http://gstore.renog.info">http://gstore.renog.info</a>
		</p>
		<br />
		<p>
			Do you have questions, doubts, ideas, or just want to hear a friendly voice?
			<br />Email me directly at<br/>
			<a href="mailto:renogmusic@yahoo.com">renogmusic@yahoo.com</a>
			<br /><br/>or visit my personal web site at<br/>
			<a target="_blank" href="http://www.renog.info">http://www.renog.info</a>
		</p>
		<br />
		<strong>
			You are using GStore Version @Html.GStoreVersionNumber()<br />
			Build @Html.GStoreVersionDateString()
		</strong>
		<br /><br />
	</div>
	<div class="col-sm-6 col-lg-5">
		<h2>About Me</h2>
		<p>I started GStore as a programming project to make selling online easy, cost effective, and bring modern technology to the cost-conscious store owner.</p>
		<p>I hope this software of mine brings you lots of sales, no headaches, and success online.</p>
		<p>I would love to hear from you whether you are a merchant interesting in selling your products online, or a developer looking for a eCommerce storefront framework to build cutting edge applications.</p>
		<p><strong>~Reno G~</strong></p>
		<p>Click here for my personal web site:<br/> <a href="http://www.renog.info">http://www.renog.info</a></p>
		<p>or Email me at<br/><a href="mailto:renogmusic@yahoo.com">renogmusic@yahoo.com</a></p>
		<p>
			Follow my work in progress on GitHub<br />
			<a href="http://www.github.com/renogmusic">http://www.github.com/renogmusic</a>
		</p>
		<img src="~/Content/Server/Images/Logo/Logo.jpg" />
		<br /><br />
		&copy;GStore <a href="mailto:renogmusic@yahoo.com">renogmusic@yahoo.com</a>
	</div>
</div>
