<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GStoreData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                                                                                                                      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="GStoreWeb.Properties.Settings.GStoreDB" connectionString="Data Source=(LocalDb)\mssqllocaldb;Initial Catalog=GStoreV1.4;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="GStoreData.Properties.Settings.GStoreDB" connectionString="Data Source=(LocalDb)\mssqllocaldb;Initial Catalog=GStoreV1.4;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <GStoreData.Properties.Settings>
      <setting name="AspNetIdentityNameOrConnectionString" serializeAs="String">
        <value>GStoreWeb.Properties.Settings.GStoreDB</value>
      </setting>
      <setting name="AppEnableEmail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppEnableSMS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppEnablePageViewLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppUseFriendlyErrorPages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppUseFileNotFoundImage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppEnableStoresVirtualFolders" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppDoNotSeedDatabase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppDefaultThemeFolderName" serializeAs="String">
        <value>Spacelab</value>
      </setting>
      <setting name="AppSeedSampleProducts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppLogSystemEventsToDb" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppLogSecurityEventsToDb" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppLogBadRequestEventsToDb" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppLogFileNotFoundEventsToDb" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppLogPageViewEventsToDb" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppLogUserActionEventsToDb" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppLogLogExceptionsToFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppLogSystemEventsToFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppLogSecurityEventsToFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppLogBadRequestEventsToFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppLogFileNotFoundEventsToFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppLogPageViewEventsToFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppLogUserActionEventsToFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SystemAdminThemeFolderName" serializeAs="String">
        <value>Spacelab</value>
      </setting>
      <setting name="AppEnableBindingAutoMapToFirstStoreFront" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppEnableBindingAutoMapCatchAll" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppEnableAutomaticHomePageCreation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppDefaultPageTemplateViewName" serializeAs="String">
        <value>Page Sample Welcome</value>
      </setting>
      <setting name="RepositoryProvider" serializeAs="String">
        <value>EntityFrameworkCodeFirstProvider</value>
      </setting>
      <setting name="InitializeEFCodeFirstMigrateLatest" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InitializeEFCodeFirstDropCreate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IdentityEnableNewUserRegisteredBroadcast" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IdentitySendGridMailFromEmail" serializeAs="String">
        <value>admin@domain.com</value>
      </setting>
      <setting name="IdentitySendGridMailFromName" serializeAs="String">
        <value>GStore System Administrator</value>
      </setting>
      <setting name="IdentitySendGridMailAccount" serializeAs="String">
        <value>SendGridAccount</value>
      </setting>
      <setting name="IdentitySendGridMailPassword" serializeAs="String">
        <value>SendGridPassword</value>
      </setting>
      <setting name="IdentityTwilioSid" serializeAs="String">
        <value>twilio sid</value>
      </setting>
      <setting name="IdentityTwilioToken" serializeAs="String">
        <value>twilio token</value>
      </setting>
      <setting name="IdentityTwilioFromPhone" serializeAs="String">
        <value>8885551212</value>
      </setting>
      <setting name="IdentityTwoFactorSignature" serializeAs="String">
        <value>Sent From GStore Security Admin admin@domain.com</value>
      </setting>
      <setting name="IdentityEnableTwoFactorAuth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppEnableUserActionLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppDefaultLayoutName" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="AppDefaultPageTemplateName" serializeAs="String">
        <value>Welcome Template</value>
      </setting>
      <setting name="AppDefaultTimeZoneId" serializeAs="String">
        <value>US Pacific Standard Time</value>
      </setting>
      <setting name="AppLogEmailSentToFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppLogEmailSentToDb" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppLogSmsSentToDb" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppLogSmsSentToFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppGoogleMapsApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="AppEnableChat" serializeAs="String">
        <value>True</value>
      </setting>
    </GStoreData.Properties.Settings>
  </applicationSettings>
</configuration>