@model ProductCategory
@{
	if (Model == null)
	{
		@:(none)
	}
	else
	{
		bool returnToFrontEnd = (ViewData["ReturnToFrontEnd"] as bool?) ?? false;
		bool isActive = Model.IsActiveDirect();
		string itemClass = "";
		if (!isActive)
		{
			itemClass = "text-warning";
		}
		string displayText = "'" + Model.Name + "' [" + Model.ProductCategoryId + "]" + (isActive ? "" : " [INACTIVE]");

		@:<span class="@(itemClass)">
			if (Html.UserHasPermission(GStoreAction.Categories_View))
			{
				@Html.ActionLink(displayText, "Details", "CategoryAdmin", new { id = Model.ProductCategoryId, returnToFrontEnd = returnToFrontEnd }, null)
			}
			else
			{
				@displayText
			}
		@:</span>
		@Html.ActionLink("View Category in Site", "ViewCategoryByName", "Catalog", new { area = "", urlName = Model.UrlName }, new { @class = "btn btn-xs btn-default" })
	}
}
