@{
	ViewBag.Title = "Forgot Password Confirmation";
	bool checkingOut = (ViewBag.CheckingOut as bool?) ?? false;
	object routeValues = null;
	if (checkingOut)
	{
		routeValues = new { CheckingOut = checkingOut };
	}
}
<div class="row">
	<h2 class="AccountTitle jumbotron col-md-offset-2 col-md-7 title-align text-warning">@ViewBag.Title</h2>
</div>
<div class="row">
	<div class="col-md-offset-2 col-md-8 title-align">
@if (!Settings.AppEnableEmail)
{
	<p>Sorry, this server does not have Email enabled. You will not be able to receive email from this server.</p>
}
else if (Html.CurrentClient(false) == null || !Html.CurrentClient(true).UseSendGridEmail)
{
	<p>Sorry, this Store Front does not have Email enabled. You will not be able to receive email from this store front.</p>
}
else
{
	<p>Please check your email to reset your password.</p>
}
		<br />
		@if (checkingOut)
		{
		<div class="row">
			<div class="form-group col-xs-12">
				@Html.ActionLink("Return to Checkout as a Guest", "LoginOrGuest", "Checkout", new { ContinueAsGuest = true }, new { @class = "btn btn-info" })
			</div>
		</div>
		}
		else
		{
			<p>@(Html.GStoreLocalLink("Click here to go back to the home page", "/"))</p>
		}
	</div>
</div>
