@model CheckoutConfirmOrderViewModel
<h1>Confirm Your Order</h1>
@{ Html.RenderPartial("_TopStatusPartial", Model); }
@{ Html.RenderPartial("_CartFullInfoPartial", Model); }

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(false, "", new { @class = "text-danger" })
	Html.RenderPartial("_CheckoutWebFormFieldsPartial", new Tuple<CheckoutViewModelBase, WebForm>(Model, Model.Config.CheckoutConfirmOrderWebForm));
	
	<h3>Click Place Order to submit your order for processing.</h3>
	<h4>You can edit your order information by clicking the links at the top.</h4>
	<h5>If you wish to add items to your cart, you may add items to your cart at any time.</h5>
	<input type="submit" class="btn btn-success" value="Place Order &raquo;" />
}
