@model CheckoutLogInOrGuestViewModel
@{
	StoreFrontConfiguration config = Html.CurrentStoreFrontConfig(true);
}
<h1>Log in or Continue as a Guest</h1>
@{ Html.RenderPartial("_TopStatusPartial", Model); }
@{ Html.RenderPartial("_CartSimplePartial", Model); }
<hr/>
@using(Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(false, "", new { @class = "text-danger" })
	
	<h3>Please log in, sign-up or continue checkout as a guest.</h3>
	<h4>If you sign up, we will keep your order history and Email you special offers and sales.</h4>
	@Html.ActionLink("Log in", "Login", "Account", new { checkingOut = true }, new { @class = "btn btn-danger" })
	if (config.AccountLoginShowRegisterLink || config.NavBarShowRegisterLink)
	{
		@:&nbsp;&nbsp;|&nbsp;&nbsp;
		@Html.ActionLink(config.AccountLoginRegisterLinkText.OrDefault("Sign-Up"), "Register", "Account", new { checkingOut = true }, new { @class = "btn btn-info" })
	}
	@:&nbsp;&nbsp;|&nbsp;&nbsp;

	Html.RenderPartial("_CheckoutWebFormFieldsPartial", new Tuple<CheckoutViewModelBase, WebForm>(Model, Model.Config.CheckoutLogInOrGuestWebForm));

	<input type="submit" class="btn btn-success" Value="Continue as a Guest &raquo;" />
}
