@model CheckoutPaymentInfoViewModel
<h1>Payment</h1>
@{ Html.RenderPartial("_TopStatusPartial", Model); }
@{ Html.RenderPartial("_CartSimplePartial", Model); }
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(false, "", new { @class = "text-danger" })

	if (Model.Cart.Total == 0)
	{
		<h1 class="text-success">Good news, this order is free!</h1>
	}
	else
	{
		<h2>Order Total: @(Html.DisplayFor(model => model.Cart.Total))</h2>
	}

	Html.RenderPartial("_CheckoutWebFormFieldsPartial", new Tuple<CheckoutViewModelBase, WebForm>(Model, Model.Config.CheckoutPaymentInfoWebForm));

	<h3>Since this is a demo, actual payment will not be taken. Click continue below.</h3>
	<input type="submit" class="btn btn-success" value="Continue &raquo;" />
}
