@model Enum
<div class="form-group">
	<div class="col-md-4 title-align-right">
		@Html.LabelForModel(new { @class = "col-md-4 title-align-right" })
	</div>
	<div class="col-md-8 title-align">
		@Html.EnumDropDownListForModel("[select a " + Html.DisplayNameForModel().ToHtmlString() + "]")
		@Html.HelpLabelPopoverForModel()
		<br />
		@Html.ValidationMessageForModel()
	</div>
</div>
