@model GStore.Models.NavBarItem
@using GStore.AppHtmlHelpers
@using GStore.Data
@{
	if (Model == null)
	{
		@:(none)
	}
	else
	{
		bool isActive = Model.IsActiveDirect();
		string itemClass = "";
		if (!isActive)
		{
			itemClass = "text-warning";
		}
		@:<span class="@(itemClass)">
			@:'@(Model.Name)' [@(Model.NavBarItemId)]
			if (!isActive)
			{
				@: [INACTIVE]
			}
		@:</span>
	}
}
