/*site styles*/

#TinyLogo
{
	padding-top: 0.5em;
	padding-right: 0.5em;
}

.CategoryListContainer {}
.CategoryListItem {
	border-style: none;
	padding: 10px;
	margin: 10px;
}
.CategoryListImage {}
.CategoryListImageLink {}
.CategoryListTextLink {}

.ProductListContainer
{

}
.ProductListItem
{
	border-color: rgba(128, 128, 128, 0.80);
	border-style: solid;
	border-width: 2px;
	box-shadow: rgba(128, 128, 128, 0.40) 4px 4px;
	padding: 10px;
	margin: 10px;
}
.ProductListImage {}
.ProductListImageLink {}
.ProductListTextLink {}


.CatalogMenu
{
	/* all menu categories including root menu and dropdown items */
}
.CatalogMenuLevel1, .dropdown-menu li.CatalogMenuLevel1
{
	/* Root (top level) categories */
}
.CatalogMenuLevel2, .dropdown-menu li.CatalogMenuLevel2
{
	/* Level 2 categories (1st level on dropdown) */
	font-size: large;
	font-weight: bolder;
}
.CatalogMenuLevel3, .dropdown-menu li.CatalogMenuLevel3
{
	/* Level 3 categories (2nd level on dropdown) */
	font-size: large;
	font-weight: normal;
}
.CatalogMenuLevel4, .dropdown-menu li.CatalogMenuLevel4
{
	/* Level 4 categories (3rd level on dropdown) */
	font-size: medium;
	font-weight: bolder;
}
.CatalogMenuLevel5, .dropdown-menu li.CatalogMenuLevel5
{
	/* Level 5 categories (4th level on dropdown) */
	font-size: medium;
	font-style: normal;
}
.CatalogMenuLevel6, .dropdown-menu li.CatalogMenuLevel6
{
	/* Level 6 categories (5th level on dropdown) */
	font-size: medium;
	font-style: italic;
}

.CatalogMenuChildContainer
{
	/* container for subcategories level 2 and below*/
}
.CatalogMenuChildContainerLevel1 { }
.CatalogMenuChildContainerLevel2 { }
.CatalogMenuChildContainerLevel3 { }
.CatalogMenuChildContainerLevel4 { }
.CatalogMenuChildContainerLevel5 { }
.CatalogMenuChildContainerLevel6 { }

.NavBarItem
{
	/* all menu items including root menu and dropdown items */
}
.NavBarItemLevel1, .dropdown-menu li.NavBarItemLevel1
{
	/* Root (top level) menu items */
}
.NavBarItemLevel2, .dropdown-menu li.NavBarItemLevel2
{
	/* Level 2 menu items (1st level on dropdown) */
	font-size: large;
	font-weight: bolder;
}
.NavBarItemLevel3, .dropdown-menu li.NavBarItemLevel3
{
	/* Level 3 menu items (2nd level on dropdown) */
	font-size: large;
	font-weight: normal;
}
.NavBarItemLevel4, .dropdown-menu li.NavBarItemLevel4
{
	/* Level 4 menu items (3rd level on dropdown) */
	font-size: medium;
	font-weight: bolder;
}
.NavBarItemLevel5, .dropdown-menu li.NavBarItemLevel5
{
	/* Level 5 menu items (4th level on dropdown) */
	font-size: medium;
	font-style: normal;
}
.NavBarItemLevel6, .dropdown-menu li.NavBarItemLevel6
{
	/* Level 6 menu items (5th level on dropdown) */
	font-size: medium;
	font-style: italic;
}

.NavBarItemChildContainer
{
	/* container for submenu level 2 and below*/
}
.NavBarItemChildContainerLevel1 {}
.NavBarItemChildContainerLevel2 {}
.NavBarItemChildContainerLevel3 {}
.NavBarItemChildContainerLevel4 {}
.NavBarItemChildContainerLevel5 {}
.NavBarItemChildContainerLevel6 {}

