@model GStore.Areas.StoreAdmin.ViewModels.StoreAdminViewModel
@{
	string dashboard = (ViewData["Dashboard"] as string) ?? string.Empty;
	string title = (ViewData["DashboardTitle"] as string) ?? string.Empty;
	string location = (ViewData["DashboardLocation"] as string) ?? string.Empty;
	DashboardDateTimeRange dateTimeRange = (ViewData["DashboardDateTimeRange"] as DashboardDateTimeRange?) ?? DashboardDateTimeRange.Past15Minutes;
	DateTime startDateTimeUtc = dateTimeRange.ToStartDateTimeUtc();
	DateTime endDateTimeUtc = dateTimeRange.ToEndDateTimeUtc();
	int storeFrontId = Html.CurrentStoreFront(true).StoreFrontId;

	int countStarted = Html.GStoreDb().Carts.Where(p => p.StoreFrontId == storeFrontId && p.CreateDateTimeUtc > startDateTimeUtc && p.CreateDateTimeUtc < endDateTimeUtc && p.StatusStartedCheckout).Count();
	int countSelectedLogInOrGuest = Html.GStoreDb().Carts.Where(p => p.StoreFrontId == storeFrontId && p.CreateDateTimeUtc > startDateTimeUtc && p.CreateDateTimeUtc < endDateTimeUtc && p.StatusSelectedLogInOrGuest).Count();
	int countEnteredDeliveryInfo = Html.GStoreDb().Carts.Where(p => p.StoreFrontId == storeFrontId && p.CreateDateTimeUtc > startDateTimeUtc && p.CreateDateTimeUtc < endDateTimeUtc && p.StatusCompletedDeliveryInfo).Count();

}
<div class="well text-warning">
	<span class="btn btn-info NoClick">@(title)</span><br />
	<h4>
		@(countStarted.ToString("N0")) Started Checkout
		<br/>
		@(countSelectedLogInOrGuest.ToString("N0")) Selected Log in or Guest
		<br />
		@(countEnteredDeliveryInfo.ToString("N0")) Entered Delivery Info
	</h4>
</div>