@model GStore.Areas.StoreAdmin.ViewModels.StoreAdminViewModel
@{
	string dashboard = (ViewData["Dashboard"] as string) ?? string.Empty;
	string title = (ViewData["DashboardTitle"] as string) ?? string.Empty;
	string location = (ViewData["DashboardLocation"] as string) ?? string.Empty;
	DashboardDateTimeRange dateTimeRange = (ViewData["DashboardDateTimeRange"] as DashboardDateTimeRange?) ?? DashboardDateTimeRange.Past15Minutes;
	DateTime startDateTimeUtc = dateTimeRange.ToStartDateTimeUtc();
	DateTime endDateTimeUtc = dateTimeRange.ToEndDateTimeUtc();
	int storeFrontId = Html.CurrentStoreFront(true).StoreFrontId;
	
	int count = Html.GStoreDb().UserProfiles
		.Where(p =>
			(p.StoreFrontId == storeFrontId)
			&& (p.CreateDateTimeUtc > startDateTimeUtc)
			&& (p.CreateDateTimeUtc < endDateTimeUtc))
		.Count();
			
	int distinctCount = Html.GStoreDb().UserProfiles
		.Where(p =>
			(p.StoreFrontId == storeFrontId)
			&& (p.CreateDateTimeUtc > startDateTimeUtc)
			&& (p.CreateDateTimeUtc < endDateTimeUtc))
		.GroupBy(x => x.EntryReferrer)
		.Count();
			
			
}
<div class="well text-warning">
	<span class="btn btn-info NoClick">@(title)</span><br />
	<h4>
		@(count.ToString("N0")) New User@(count == 1 ? "" : "s")
		<br/>
		from @(distinctCount.ToString("N0")) referrer@(count == 1 ? "" : "s")
	</h4>
</div>