<h2>About GStore</h2>

<p>GStore is an ongoing project to build functional programs for modern desktop and mobile platforms.</p>
<p>
	Useful modern technology is built in and the system is developer-friendly so as your site expands, so do your capabilities.
	We use Microsoft standard design patterns like the Model-View-Controller (MVC) pattern and the repository pattern with Bootstrap and JQuery to access mobile, desktop, and tablet devices effectively.
</p>
<p>Everything you need to get your web site up and running is already here and ready to go. Long gone are the days of calling your "web site guy" to update your site or add new features.  Just log in and click a few links to find the information you need and make changes to your site.</p>
<p>
	GStore is an ongoing project with daily updates. For up-to-date information or to find out more,<br />
	please visit the GStore home page at <br /><a target="_blank" href="http://gstore.renog.info">http://gstore.renog.info</a>
</p>
<p>
	Do you have questions, doubts, ideas, or just want to hear a friendly voice?
	<br />Email me directly at<br />
	<a href="mailto:renogmusic@yahoo.com">renogmusic@yahoo.com</a>
	<br /><br />or visit my personal web site at<br />
	<a target="_blank" href="http://www.renog.info">http://www.renog.info</a>
</p>

<p>
	Follow my work in progress on GitHub<br />
	<a target="_blank" href="http://www.github.com/renogmusic">http://www.github.com/renogmusic</a>
</p>
<p>
	Read the GStore Wiki on GitHub<br />
	<a target="_blank" href="http://github.com/renogmusic/GStore/wiki">http://github.com/renogmusic/GStore/wiki</a>
</p>
<p>
	View the GStore Code Repository on GitHub<br />
	<a target="_blank" href="http://www.github.com/renogmusic/GStore">http://www.github.com/renogmusic/GStore</a>
</p>

<br />
<strong>
	You are using GStore Version @Html.GStoreVersionNumber()<br />
	Build @Html.GStoreVersionDateString()
</strong>
<br /><br />
<a href="http://www.gstore.renog.info">
	<img src="~/Content/Server/Images/Logo/Large.png" alt="GStore Logo" title="GStore Logo" /><br />
</a>
&copy;@(DateTime.Today.Year) GStore <a href="mailto:renogmusic@yahoo.com">renogmusic@yahoo.com</a>

<hr />
Keep GStore Going.... add a dollar or two to the cause...
@{ Html.RenderPartial("_PayPalDonateLink", new PayPalInfo()); }