@model GStore.Models.ViewModels.MenuViewModel
@using GStore.AppHtmlHelpers;
<footer>
	<div class="row">
		<div class="col-sm-4 text-center">
			<a href="@Url.Action("About", "GStore")" onclick="@Html.GaEventScript("EmailMe", "FooterClick", "link")">
				Powered by GStore
				<img src="~/Content/Server/Images/Logo/menu.png" />
			</a>
			
		</div>
		<div class="col-sm-4 text-center">
			&nbsp;
		</div>
		<div class="col-sm-4 text-center">
			<span id="ActiveUsers"> - </span>
		</div>
	</div>
</footer>

