@using GStore.AppHtmlHelpers;
@using GStore.Models;
<footer>
	<div class="row">
		<div class="col-sm-4 text-center">
			<a id="PoweredByGStoreLink" href="@Url.Action("About", "GStore")" onclick="@Html.GaEventScript("EmailMe", "FooterClick", "link")">
				Powered by GStore
				<img id="PoweredByGStoreLogo" src="~/Content/Server/Images/Logo/NavBarTinyLogo.png" />
			</a>

		</div>
		<div class="col-sm-4 text-center">
			@{
				StoreFront storeFront = Html.CurrentStoreFront(false);
				if (storeFront != null)
				{
					@Html.Raw(storeFront.HtmlFooter)
				}
				else
				{
					@:<a href="http://www.gstore.renog.info">GStore Home Page</a>
				}
			}

		</div>
		<div class="col-sm-4 text-center">
			<span id="ActiveUsers"> - </span>
		</div>
	</div>
</footer>






