@model GStore.Models.ViewModels.AdminMenuViewModel
@if (Request.IsAuthenticated)
{
	int adminLinksToShow = (Model.ShowCatalogAdminLink ? 1 : 0) + (Model.ShowOrderAdminLink ? 1 : 0) + (Model.ShowStoreAdminLink ? 1 : 0) + (Model.ShowSystemAdminLink ? 1 : 0);
	bool useAdminDropdown = false;
	if (adminLinksToShow > 1)
	{
		useAdminDropdown = true;
	}
	
	if (useAdminDropdown)
	{
		@:<li class="dropdown AdminMenuItem AdminMenuItemLevel1">
		@:<a href="#" class="dropdown-toggle" data-toggle="dropdown" accesskey="a" title="Administration">Admin<span class="caret"></span></a>
		@:<ul class="dropdown-menu AdminMenuChildContainer AdminMenuChildContainerLevel1" role="menu">
	}
	if (Model.ShowOrderAdminLink)
	{
		<li class="AdminMenuItemLevel2">
			<a href="@(Url.Action("Index", "OrderAdmin", new { Area = "OrderAdmin" }))" accesskey="o" title="Order Admin">Order Admin</a>
		</li>
		if (useAdminDropdown)
		{
			<li class="nav-divider"></li>
		}
	}
	if (Model.ShowCatalogAdminLink)
	{
		<li class="AdminMenuItemLevel2">
			<a href="@(Url.Action("Index", "CatalogAdmin", new { Area = "CatalogAdmin" }))" accesskey="c" title="Catalog Admin">Catalog Admin</a>
		</li>
		if (useAdminDropdown)
		{
			<li class="nav-divider"></li>
		}
	}
	if (Model.ShowStoreAdminLink)
	{
		//if user has store admin permissions, show store admin link
		<li>
			<a href="@(Url.Action("Index", "StoreAdmin", new { Area = "StoreAdmin" }))" accesskey="s" title="Store Admin">Store Admin</a>
		</li>
		if (useAdminDropdown)
		{
			<li class="nav-divider"></li>
		}
	}
	if (Model.ShowSystemAdminLink)
	{
		//if user has system admin permission, show system admin link
		Client currentClient = Html.CurrentClient(false);
		int? clientId = null;
		if (currentClient != null)
		{
			clientId = currentClient.ClientId;
		}
		<li>
			<a href="@(Url.Action("Index", "SystemAdmin", new { Area = "SystemAdmin", ClientId = clientId }))" accesskey="s" title="System Admin">System Admin</a>
		</li>
		if (useAdminDropdown)
		{
			<li class="nav-divider"></li>
		}
	}
		
	if (useAdminDropdown)
	{
		@:</ul></li>
	}
}
