@model GStore.Models.ViewModels.MenuViewModel
@{
	string storeFrontName = "GStore";
	if (Model.StoreFront != null)
	{
		storeFrontName = Model.StoreFrontConfig.Name;
	}
}

<!-- NavBar -->
<div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a id="navbarbrandlink" href="~/" class="navbar-brand">
				<img id="NavBarTinyLogo" class="NavBarTinyLogo"
					 src="~/Images/Logo/NavBarTinyLogo.png" alt="@(Html.AttributeEncode(storeFrontName))" title="@(Html.AttributeEncode(storeFrontName))" />
				@(Html.Encode(storeFrontName))
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				@{Html.RenderPartial("_NavBarCatalogPartial", Model); }
				@{Html.RenderPartial("_NavBarMenuPartial", Model);}
				<li>@(Html.ActionLink("About GStore", "About", "GStore"))</li>
			</ul>
			@{Html.RenderPartial("_LoginPartial");}
		</div>
	</div>
</div>

