@charset "utf-8";
.navbar {
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  filter: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(#ff4646, #ff2727 60%, #ff1313);
  background-image: -o-linear-gradient(#ff4646, #ff2727 60%, #ff1313);
  background-image: linear-gradient(#ff4646, #ff2727 60%, #ff1313);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff4646', endColorstr='#ffff1313', GradientType=0);
  filter: none;
}
.navbar-inverse .badge {
  background-color: #e90000;
}
.navbar-nav > li > a {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar-nav > li > a:hover {
  background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: linear-gradient(#020202, #101112 40%, #191b1d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0);
  filter: none;
  border-left-color: transparent;
}
.navbar .nav .open > a {
  border-color: transparent;
}
.navbar-nav > li.active > a {
  border-left-color: transparent;
}
.navbar-form {
  margin-left: 5px;
  margin-right: 5px;
}
.btn,
.btn:hover {
  border-color: rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.btn-default {
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  filter: none;
}
.btn-default:hover {
  background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: linear-gradient(#020202, #101112 40%, #191b1d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0);
  filter: none;
}
.btn-primary {
  background-image: -webkit-linear-gradient(#ff4646, #ff2727 60%, #ff1313);
  background-image: -o-linear-gradient(#ff4646, #ff2727 60%, #ff1313);
  background-image: linear-gradient(#ff4646, #ff2727 60%, #ff1313);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff4646', endColorstr='#ffff1313', GradientType=0);
  filter: none;
}
.btn-primary:hover {
  background-image: -webkit-linear-gradient(#ac0000, #ca0000 40%, #df0000);
  background-image: -o-linear-gradient(#ac0000, #ca0000 40%, #df0000);
  background-image: linear-gradient(#ac0000, #ca0000 40%, #df0000);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac0000', endColorstr='#ffdf0000', GradientType=0);
  filter: none;
}
.btn-success {
  background-image: -webkit-linear-gradient(#ff1f1f, #ff0000 60%, #eb0000);
  background-image: -o-linear-gradient(#ff1f1f, #ff0000 60%, #eb0000);
  background-image: linear-gradient(#ff1f1f, #ff0000 60%, #eb0000);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff1f1f', endColorstr='#ffeb0000', GradientType=0);
  filter: none;
}
.btn-success:hover {
  background-image: -webkit-linear-gradient(#850000, #a30000 40%, #b80000);
  background-image: -o-linear-gradient(#850000, #a30000 40%, #b80000);
  background-image: linear-gradient(#850000, #a30000 40%, #b80000);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff850000', endColorstr='#ffb80000', GradientType=0);
  filter: none;
}
.btn-info {
  background-image: -webkit-linear-gradient(#ea0000, #cb0000 60%, #b70000);
  background-image: -o-linear-gradient(#ea0000, #cb0000 60%, #b70000);
  background-image: linear-gradient(#ea0000, #cb0000 60%, #b70000);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea0000', endColorstr='#ffb70000', GradientType=0);
  filter: none;
}
.btn-info:hover {
  background-image: -webkit-linear-gradient(#510000, #6f0000 40%, #840000);
  background-image: -o-linear-gradient(#510000, #6f0000 40%, #840000);
  background-image: linear-gradient(#510000, #6f0000 40%, #840000);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff510000', endColorstr='#ff840000', GradientType=0);
  filter: none;
}
.btn-warning {
  background-image: -webkit-linear-gradient(#b60000, #970000 60%, #830000);
  background-image: -o-linear-gradient(#b60000, #970000 60%, #830000);
  background-image: linear-gradient(#b60000, #970000 60%, #830000);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb60000', endColorstr='#ff830000', GradientType=0);
  filter: none;
}
.btn-warning:hover {
  background-image: -webkit-linear-gradient(#1d0000, #3b0000 40%, #500000);
  background-image: -o-linear-gradient(#1d0000, #3b0000 40%, #500000);
  background-image: linear-gradient(#1d0000, #3b0000 40%, #500000);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d0000', endColorstr='#ff500000', GradientType=0);
  filter: none;
}
.btn-danger {
  background-image: -webkit-linear-gradient(#9c0000, #7d0000 60%, #690000);
  background-image: -o-linear-gradient(#9c0000, #7d0000 60%, #690000);
  background-image: linear-gradient(#9c0000, #7d0000 60%, #690000);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9c0000', endColorstr='#ff690000', GradientType=0);
  filter: none;
}
.btn-danger:hover {
  background-image: -webkit-linear-gradient(#030000, #210000 40%, #360000);
  background-image: -o-linear-gradient(#030000, #210000 40%, #360000);
  background-image: linear-gradient(#030000, #210000 40%, #360000);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff030000', endColorstr='#ff360000', GradientType=0);
  filter: none;
}
.btn-link,
.btn-link:hover {
  border-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.text-primary,
.text-primary:hover {
  color: #ff2727;
}
.text-success,
.text-success:hover {
  color: #ff0000;
}
.text-danger,
.text-danger:hover {
  color: #7d0000;
}
.text-warning,
.text-warning:hover {
  color: #970000;
}
.text-info,
.text-info:hover {
  color: #cb0000;
}
.table .success,
.table .warning,
.table .danger,
.table .info {
  color: #fff;
}
.table-bordered tbody tr.success td,
.table-bordered tbody tr.warning td,
.table-bordered tbody tr.danger td,
.table-bordered tbody tr.success:hover td,
.table-bordered tbody tr.warning:hover td,
.table-bordered tbody tr.danger:hover td {
  border-color: #1c1e22;
}
.table-responsive > .table {
  background-color: #2e3338;
}
input,
textarea {
  color: #272b30;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .form-control-feedback {
  color: #970000;
}
.has-warning .form-control,
.has-warning .form-control:focus {
  border-color: #970000;
}
.has-warning .input-group-addon {
  background-color: #272b30;
  border: none;
}
.has-error .help-block,
.has-error .control-label,
.has-error .form-control-feedback {
  color: #7d0000;
}
.has-error .form-control,
.has-error .form-control:focus {
  border-color: #7d0000;
}
.has-error .input-group-addon {
  background-color: #272b30;
  border: none;
}
.has-success .help-block,
.has-success .control-label,
.has-success .form-control-feedback {
  color: #ff0000;
}
.has-success .form-control,
.has-success .form-control:focus {
  border-color: #ff0000;
}
.has-success .input-group-addon {
  background-color: #272b30;
  border: none;
}
legend {
  color: #fff;
}
.input-group-addon {
  border-color: rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  filter: none;
  color: #ffffff;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: rgba(0, 0, 0, 0.6);
}
.nav-pills > li > a {
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  filter: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.nav-pills > li > a:hover {
  background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: linear-gradient(#020202, #101112 40%, #191b1d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0);
  filter: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
  background-color: none;
  background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: linear-gradient(#020202, #101112 40%, #191b1d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0);
  filter: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.nav-pills > li.disabled > a,
.nav-pills > li.disabled > a:hover {
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  filter: none;
}
.pagination > li > a,
.pagination > li > span {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  filter: none;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
  background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: linear-gradient(#020202, #101112 40%, #191b1d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0);
  filter: none;
}
.pagination > li.active > a,
.pagination > li.active > span {
  background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: linear-gradient(#020202, #101112 40%, #191b1d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0);
  filter: none;
}
.pagination > li.disabled > a,
.pagination > li.disabled > a:hover,
.pagination > li.disabled > span,
.pagination > li.disabled > span:hover {
  background-color: transparent;
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  filter: none;
}
.pager > li > a {
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  filter: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.pager > li > a:hover {
  background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: linear-gradient(#020202, #101112 40%, #191b1d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0);
  filter: none;
}
.pager > li.disabled > a,
.pager > li.disabled > a:hover {
  background-color: transparent;
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  filter: none;
}
.breadcrumb {
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  filter: none;
}
.alert .alert-link,
.alert a {
  color: #fff;
  text-decoration: underline;
}
.alert .close {
  color: #000000;
  text-decoration: none;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #0c0d0e;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  border-color: rgba(0, 0, 0, 0.6);
}
a.list-group-item-success.active {
  background-color: #ff0000;
}
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
  background-color: #e60000;
}
a.list-group-item-warning.active {
  background-color: #970000;
}
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
  background-color: #7e0000;
}
a.list-group-item-danger.active {
  background-color: #7d0000;
}
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
  background-color: #630000;
}
.jumbotron {
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.panel-primary .panel-heading,
.panel-success .panel-heading,
.panel-danger .panel-heading,
.panel-warning .panel-heading,
.panel-info .panel-heading {
  border-color: #000;
}
/*# sourceMappingURL=bootswatch.css.map */