@model GStore.Data.TreeNode<GStore.Models.ProductCategory>

@{
	if (Model == null)
	{
		@:(none)
	}
	else
	{
		bool isActive = Model.Entity.IsActiveDirect();
		string itemClass = "";
		if (!isActive)
		{
			itemClass = "text-warning";
		}
		@:<span class="@(itemClass)">
			@:'@(Model.Entity.Name)' [@(Model.Entity.ProductCategoryId)]
			if (!isActive)
			{
				@: [INACTIVE]
			}
			
			@:Active Products: @(Model.Entity.Products.AsQueryable().WhereIsActive().Count()) / Total: @(Model.Entity.Products.Count)
		@:</span>
	}
}
