@{
	ViewBag.Title = "About GStore";
}
<div class="row" style="padding-top: 1em;">
	<div class="col-sm-6 col-lg-offset-1 col-lg-5">
		@{ Html.RenderPartial("_AboutGStorePartial"); }
	</div>
	<div class="col-sm-6 col-lg-5">
		@{ Html.RenderPartial("_AboutMePartial"); }
	</div>
</div>
