@model GStore.Models.ViewModels.PageSectionEditViewModel
@{
	AjaxOptions options = new AjaxOptions();
	options.AllowCache = false;
	options.HttpMethod = "Post";
	options.UpdateTargetId = "PageSectionUpdateTargetId_" + Model.Index;
	options.InsertionMode = InsertionMode.Replace;
	options.LoadingElementId = "LoadingElementId_" + Model.Index;
	options.OnBegin = "OnBegin_" + Model.Index;
	options.OnComplete = "OnComplete_" + Model.Index;
	options.OnFailure = "OnFailure_" + Model.Index;
	options.OnSuccess = "OnSuccess_" + Model.Index;
	options.LoadingElementDuration = 700;
}
<script>
	function OnBegin_@(Model.Index)() {
		@*alert('OnBegin_@(Model.Index)');*@
	}

	function OnComplete_@(Model.Index)() {
		@*alert('OnComplete_@(Model.Index)');*@
	}
	function OnFailure_@(Model.Index)() {
		AddUserMessageDanger("Save Failed.", "Please try again or re-load the page and try again. Section: @(Model.SectionName) [@(Model.PageTemplateSectionId)] Index: @(Model.Index)");
	}
	function OnSuccess_@(Model.Index)() {
		@*alert('OnSuccess_@(Model.Index)');*@
	}
</script>
<div id="LoadingElementId_@(Model.Index)" class="bg-success" style="display:none">
	<strong>Saving....</strong>
</div>
@using (Ajax.BeginForm("UpdateSectionAjax", "Page", options, new { id = "SectionEditForm_" + Model.Index, name = "SectionEditForm_" + Model.Index }))
{
	<div id="PageSectionUpdateTargetId_@(Model.Index)">
		@{ Html.RenderPartial("_SectionEditPartial", Model); }
	</div>
}
