@model GStore.Models.Product

@{
	if (Model == null)
	{
		@:(none)
	}
	else
	{
		bool returnToFrontEnd = (ViewData["ReturnToFrontEnd"] as bool?) ?? false;
		bool isActive = Model.IsActiveDirect();
		string itemClass = "";
		if (!isActive)
		{
			itemClass = "text-warning";
		}
		@:<span class="@(itemClass)">
			@:'@(Model.Name)' [@(Model.ProductId)]
			if (!isActive)
			{
				@: [INACTIVE]
			}
		@:</span>
		<br/>
		@Html.ActionLink("View Product in Site", "ViewProductByName", "Catalog", new { area = "", urlName = Model.UrlName, returnToFrontEnd = returnToFrontEnd }, new { @class = "btn btn-default" })
		<br/>
		@:Category: @Html.DisplayFor(model => model.Category)

	}
}
