<h2>About the Author</h2>
<p>I started GStore as a programming project to make selling online easy, cost effective, and bring modern technology to the cost-conscious store owner.</p>
<p>I hope this software of mine brings you lots of sales, no headaches, and success online.</p>
<p>I would love to hear from you whether you are a merchant interesting in selling your products online, or a developer looking for a eCommerce storefront framework to build cutting edge applications.</p>
<p><strong>~Reno G~</strong></p>
<p>Click here for my personal web site:<br /> <a target="_blank" href="http://www.renog.info">http://www.renog.info</a></p>
<p>or Email me at<br /><a href="mailto:renogmusic@yahoo.com">renogmusic@yahoo.com</a></p>
<p>
	Follow my work in progress on GitHub<br />
	<a target="_blank" href="http://www.github.com/renogmusic">http://www.github.com/renogmusic</a>
</p>
<p>
	Read the GStore Wiki on GitHub<br />
	<a target="_blank" href="http://github.com/renogmusic/GStore/wiki">http://github.com/renogmusic/GStore/wiki</a>
</p>
<p>
	View the GStore Code Repository on GitHub<br />
	<a target="_blank" href="http://www.github.com/renogmusic/GStore">http://www.github.com/renogmusic/GStore</a>
</p>
