@model PayPalInfo
@{
	string business = "QLVM63Z987BTL";
	string item_name = "Prosperino Gallipoli";
	string item_number = "GStore";
}
@if (Model != null)
{
	if (!string.IsNullOrEmpty(Model.Business))
	{
		business = Model.Business;
	}
	if (!string.IsNullOrEmpty(Model.Item_Name))
	{
		item_name = Model.Item_Name;
	}
	if (!string.IsNullOrEmpty(Model.Item_Number))
	{
		item_number = Model.Item_Number;
	}
}

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_donations">
	<input type="hidden" name="business" value="@(business)">
	<input type="hidden" name="lc" value="US">
	<input type="hidden" name="item_name" value="@(item_name)">
	<input type="hidden" name="item_number" value="@(item_number)">
	<input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Donate with PayPal to keep the dream alive!" title="donate with paypal to keep the dream alive!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
