@model GStoreData.Exceptions.GStoreErrorInfo
@{
	string title = "Unknown Store";
	ViewBag.Title = title;
	StoreFront storeFront = Html.CurrentStoreFront(false);
	Uri url = Html.ViewContext.RequestContext.HttpContext.Request.Url;
	string urlStoreName = Html.ViewContext.RequestContext.HttpContext.Request.BindingUrlStoreName();
	string urlInfo = "http://" + url.Host + (url.IsDefaultPort ? "" : ":" + url.Port) + (string.IsNullOrEmpty(urlStoreName) ? "" : "/Stores/" + urlStoreName);
}

<h1 class="text-danger">@title</h1>
<h1>
	Sorry, this store at @(urlInfo) is not set up yet.
</h1>
<h2>
	Please try again later, or contact the web site owner.
</h2>
<h3>
	If this is your store and you wish to activate this site, contact us at<br />
	<a href="http://www.gstore.renog.info/contact">http://www.GStoreWeb.renog.info/contact</a>
</h3>
<p><small>@DateTime.UtcNow.ToLocalTime()</small></p>
@if (Request.IsLocal || User.IsInRole("SystemAdmin"))
{
	Html.RenderPartial("_ErrorDetailsPartial", Model);
}
