@model GStore.Areas.StoreAdmin.Models.ViewModels.StoreAdminViewModel
<h2>GStore Admin</h2>
<div class="row">
	<div class="col-xs-12 text-left">
		<h1>StoreFront Dashboard</h1>
		Dashboard coming soon, see menu for administration options
	</div>
</div>
