@model GStore.Models.ViewModels.PageViewModel
<script src="~/Scripts/CKEditor/ckeditor.js"></script>
@Html.EditorFor(model => model.PageEditViewModel)
@*<div class="row">
	<div class="col-xs-12">
		@Html.ActionLink("View Live Page (shift-click for new window)", "Display", new { DynamicPageUrl = Model.Page.Url }, null)
	</div>
</div>
<hr />*@

