@model GStore.Models.ViewModels.PageViewModel
<hr />
<div class="row">
	<div class="col-xs-12">
		@Html.ActionLink("View Live Page (shift-click for new window)", "Display", new { DynamicPageUrl = Model.Page.Url}, null)
	</div>
</div>
