<!-- System Admin Menu -->
<div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a id="navbarbrandlink" href="@(Url.Action("Index", "SystemAdmin"))" class="navbar-brand" accesskey="h">
				<img id="NavBarTinyLogo" class="NavBarTinyLogo"
					 src="~/Content/Server/Images/Logo/NavBarTinyLogo.png"
					 alt="GStore System Admin"
					 title="GStore System Admin" />
				GStore System Admin
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			@{ Html.RenderPartial("_SystemAdmin_MenuItemsPartial"); }
			@{ Html.RenderPartial("_SystemAdmin_LoginPartial"); }
		</div>
	</div>
</div>
