@model GStoreData.Models.DeliveryInfoDigital

<div class="col-xs-4 text-right">
	Digital Delivery to
</div>
<div class="col-xs-8 text-left">
	@Html.DisplayFor(model => model.FullName) @Html.DisplayFor(model => model.EmailAddress)
</div>
