@using GStore.AppHtmlHelpers

@{
	ViewBag.Title = "Forgot Password Confirmation";
}

<div class="row">
	<h2 class="AccountTitle jumbotron col-md-offset-2 col-md-7 title-align text-warning">@ViewBag.Title</h2>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-8 title-align">
		<p>Please check your email to reset your password.</p>
		<br />
		<p>@(Html.GStoreLocalLink("Click here to go back to the home page", "/"))</p>
	</div>
</div>

