@model GStore.Models.UserProfile
@{
	ViewBag.Title = "Registered";
}

<h2>Thank you, @Model.FullName for registering!"</h2>
<div>
	<p>
		Please check your email for @Model.Email and click the link to confirm your email address.<br />
	</p>
	@Html.ActionLink("Click here to view your account info.", "Index", "Profile")
</div>
