@{
	ViewBag.Title = "Reset password confirmation";
	bool checkingOut = (ViewBag.CheckingOut as bool?) ?? false;
	object routeValues = null;
	if (checkingOut)
	{
		routeValues = new { CheckingOut = checkingOut };
	}
}

<hgroup class="title">
	<h1>@ViewBag.Title.</h1>
</hgroup>
<div>
	<p>
		Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: routeValues, htmlAttributes: new { id = "loginLink" })
	</p>
</div>
@if (checkingOut)
{
	<div class="row">
		<div class="form-group col-xs-12">
			@Html.ActionLink("Return to Checkout as a Guest", "LoginOrGuest", "Checkout", new { ContinueAsGuest = true }, new { @class = "btn btn-info" })
		</div>
	</div>
}
