@model GStore.Models.ViewModels.LoginViewModel
@using GStore.AppHtmlHelpers
@using GStore.Models
@using GStore.Models.ViewModels

@{
	ViewBag.Title = "Sorry, you don't have permission to view this page.";
}

<div class="row">
	<h2 class="AccountTitle jumbotron col-xs-12">@ViewBag.Title</h2>
</div>
