@model GStore.Areas.StoreAdmin.ViewModels.ValueListEditAdminViewModel

@{
	string cancelUrl = Url.Action("Index", "StoreAdmin");
	if (Html.UserHasPermission(GStore.Identity.GStoreAction.ValueLists_Manager))
	{
		cancelUrl = Url.Action("Manager");
	}
	
}
<div class="row">
	<h1 class="jumbotron StoreAdminCreatePageTitle col-md-offset-1 col-md-8 text-info">
		Create a New Value List
	</h1>
</div>

@using (Html.BeginForm())
{
	<div class="row">
		<div class="form-actions no-color col-md-offset-3 col-md-6">
			<a href="@(cancelUrl)" class="btn btn-default">Cancel</a>
		</div>
	</div>
	
	@Html.Partial("_ValueListEditPartial", Model)

}

